/*------ Mobile Breakpoints ------*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
    /* Styles */
    .main-txt{
        margin: 0px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 120px !important;
        text-align: center;
        width: 100% !important;
        order: 99;
    }

    .uk-margin-large-left{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .uk-container{
        margin: 0px !important;
        padding: 0px !important;
    }

    .coming-soon-face{
        width: 100% !important;
        order: -1;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 20% left 50%, bottom -50px right 50%; 
        width: 100%;
        height: auto;
    }
    html{
        position: relative;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
    .main-txt{
        margin: 0px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 120px !important;
        text-align: center;
        width: 100% !important;
        order: 99;
    }

    .uk-margin-large-left{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .uk-container{
        margin: 0px !important;
        padding: 0px !important;
    }

    .coming-soon-face{
        width: 100% !important;
        order: -1;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 20% left 50%, bottom -50px right 50%; 
        width: 100%;
        height: auto;
    }
}
/*------ End of Mobile Breakpoints ------*/

/*------ Tablet Breakpoints ------*/

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    .main-txt{
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 120px !important;
        margin-top: 10% !important; 
        width: 45% !important;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 100% 40%;
        background-repeat: no-repeat;
        background-position: top 5% left -180px, bottom -50px right -150px; 
        width: 100%;
        height: 100%;
    }

    .face-img{
        width: 100% !important;
    }

    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    .main-txt{
        margin: 0px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 120px !important;
        text-align: center;
        width: 100% !important;
        order: 99;
    }

    .uk-margin-large-left{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .uk-container{
        margin: 0px !important;
        padding: 0px !important;
    }

    .coming-soon-face{
        width: 100% !important;
        order: -1;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 15% left 50%, bottom -50px right 50%; 
        width: 100%;
        height: 100%;
    }

    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    .main-txt{
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 120px !important;
        margin-top: 10% !important; 
        width: 45% !important;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 100% 40%;
        background-repeat: no-repeat;
        background-position: top 5% left -180px, bottom -50px right -150px; 
        width: 100%;
        height: 100%;
    }

    .face-img{
        width: 100% !important;
    }

    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    .main-txt{
        margin: 0px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 120px !important;
        text-align: center;
        width: 100% !important;
        order: 99;
    }

    .uk-margin-large-left{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .uk-container{
        margin: 0px !important;
        padding: 0px !important;
    }

    .coming-soon-face{
        width: 100% !important;
        order: -1;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 15% left 50%, bottom -50px right 50%; 
        width: 100%;
        height: 100%;
    }

    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

/* ipad Pro - 10.5 inches ----------- */
@media only screen and (min-device-width : 834px) and (max-device-width : 1112px) and (orientation : landscape)  and (-webkit-min-device-pixel-ratio : 2){
    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 100% 30%;
        background-repeat: no-repeat;
        background-position: top 5% left -200px, bottom -50px right -150px; 
        width: 100%;
        height: 100%;
    }

    .main-txt{
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 120px !important;
        margin-top: 10% !important; 
        width: 45% !important;
    }

    .face-img{
        width: 100% !important;
    }

    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait){ /* STYLES GO HERE */}

/* ipad Pro - 12.9 inches ----------- */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait){
    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 10% left 50%, bottom -50px right 50%; 
        width: 100%;
        height: 100%;
    }
}
/* ipad Pro - 12.9 inches ----------- */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape){
    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png') !important;
        background-size: 100% 30%  !important;
        background-repeat: no-repeat;
        background-position: top 10% left -250px, bottom -50px right -150px !important; 
        width: 100%;
        height: 100%;
    }

    .face-img{
        width: 100%;
    }
}
/*------ End of Tablet Breakpoints ------*/


/*------ Large screens Breakpoints ------*/
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 100% 40%;
        background-repeat: no-repeat;
        background-position: top 50px left -380px, bottom -80px right -150px; 
        width: 100%;
        height: 100%;
    }

    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}


@media (min-width: 1280px) {
    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 100% 40%;
        background-repeat: no-repeat;
        background-position: top 50px left -380px, bottom -80px right -150px; 
        width: 100%;
        height: 100%;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 100% 40%;
        background-repeat: no-repeat;
        background-position: top 10% left -550px, bottom -50px right -150px; 
        width: 100%;
        height: 100%;
    }

    .face-img{
        width: 100%;
    }

    .coming-soon-face{
        text-align: center;
    }
}
/*------ End of Large screens Breakpoints ------*/


/*------ iPhone Breakpoints ------*/
/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .main-txt{
        margin: 0px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 120px !important;
        text-align: center;
        width: 100% !important;
        order: 99;
    }

    .uk-margin-large-left{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .uk-container{
        margin: 0px !important;
        padding: 0px !important;
    }

    .coming-soon-face{
        width: 100% !important;
        order: -1;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 17% left 50%, bottom -50px right 80% !important; 
        width: 100%;
        height: 100%;
    }

    .uk-form-icon{
        width: 112px !important;
    }

    .notify-btn{
        font-size: 11px !important;
    }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape){
    /* Styles */
    html{
        position: relative !important;
    }
    .main-txt{
        margin: 0px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 120px !important;
        text-align: center;
        width: 100% !important;
        order: 99;
    }

    .uk-margin-large-left{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .uk-container{
        margin: 0px !important;
        padding: 0px !important;
    }

    .coming-soon-face{
        width: 100% !important;
        order: -1;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 17% left 50%, bottom -50px right 80% !important; 
        width: 100%;
        height: auto;
    }

    .uk-form-icon{
        width: 112px !important;
    }

    .notify-btn{
        font-size: 11px !important;
    }

    .logo{
        width: 100%;
    }

    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape){
    /* Styles */
    html{
        position: relative !important;
        height: 100%
    }
    .main-txt{
        margin: 0px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 120px !important;
        text-align: center;
        width: 100% !important;
        order: 99;
    }

    .uk-margin-large-left{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .uk-container{
        margin: 0px !important;
        padding: 0px !important;
    }

    .coming-soon-face{
        width: 100% !important;
        order: -1;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 20% left 50%, bottom -50px right 80% !important; 
        width: 100%;
        height: auto;
    }

    .uk-form-icon{
        width: 112px !important;
    }

    .notify-btn{
        font-size: 11px !important;
    }

    .logo{
        width: 50% !important;
    }

    .nav-container{
        display: block !important;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait){
    /* Styles */
    html{
        position: relative !important;
    }
    .main-txt{
        margin: 0px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 120px !important;
        text-align: center;
        width: 100% !important;
        order: 99;
    }

    .uk-margin-large-left{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .uk-container{
        margin: 0px !important;
        padding: 0px !important;
    }

    .coming-soon-face{
        width: 100% !important;
        order: -1;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 22% left 50%, bottom -50px right 80% !important; 
        width: 100%;
        height: 100%;
    }

    .uk-form-icon{
        width: 112px !important;
    }

    .notify-btn{
        font-size: 11px !important;
    }

    .logo{
        width: 100%;
    }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    html{
        position: relative !important;
    }

    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .logo{
        width: 50% !important;
    }

    .nav-container{
        display: block !important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    html{
        position: relative !important;
        height: 100% !important;
    }

    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 17% left 50%, bottom -50px right 80% !important; 
        width: 100%;
        height: auto;
    }

}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape){
    /* Styles */
    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .logo{
        width: 50% !important;
    }

    .nav-container{
        display: block !important;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait){
    /* Styles */
    html{
        position: relative !important;
        height: 100% !important;
    }
    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 17% left 50%, bottom -50px right 80% !important; 
        width: 100%;
        height: auto;
    }
}
/*------ End of iPhone Breakpoints ------*/

/*------ Samsung Breakpoints ------*/
/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .logo{
        width: 50% !important;
    }

    .nav-container{
        display: block !important;
    }

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait){
    /* Styles */
    // html{
    //     position: relative !important;
    //     height: 100% !important;
    // }
    body {
        background-color: #F0FCFF;
        background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
        background-size: 150% 30%;
        background-repeat: no-repeat;
        background-position: top 17% left 50%, bottom -50px right 80% !important; 
        width: 100%;
        height: auto;
    }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .logo{
        width: 50% !important;
    }

    .nav-container{
        display: block !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .subscribe-form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .logo{
        width: 50% !important;
    }

    .nav-container{
        display: block !important;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
/*------ End of Samsung Breakpoints ------*/