$default-btn: #BACBF2;
$social-icon: #4E4E4E;
$hover: #96B0EB;
$border: #7E9CE0;
$focus: #7593D8;
$font-family-sans-serif: 'Work Sans', sans-serif;
html{
    position: fixed;
    // position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // overflow: auto;
    height: 100%;
}
body {
    background-color: #F0FCFF;
    background-image: url('/images/coming-soon-bg1.png'), url('/images/coming-soon-bg2.png');
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: top 50px left -380px, bottom -80px right -150px; 
    width: 100%;
    height: auto;
}

.uk-container-expand{
    width: 100%;
    height: 100%;
}
// Nav
nav {
    background-color: #F0FCFF;
}
.uk-navbar-container:not(.uk-navbar-transparent){
    background-color: #F0FCFF !important;
}

.logo{
    width: 80%;
}

h1 {
    font-weight: 800 !important;
    font-family: $font-family-sans-serif !important;
}

p {
    font-weight: 400;
    font-family: $font-family-sans-serif !important;
}

.uk-input{
    border-right: none !important;
    width: 90%;
}

.notify-btn{
    right: -7px !important;
    background-color: $default-btn;
    border-radius: 10px !important;
    font-weight: 500 !important;
    font-family: $font-family-sans-serif !important;
    text-transform: inherit !important;
}

.notify-btn:hover{
    background-color: $hover;
    border-color: $border;
}

.notify-btn:focus{
    background-color: $focus;
}

.social-icon{
    fill: $social-icon;
    width: 24px;
    height: 24px;
}

.social-icon:hover{
    fill: $hover;
    border-color: $border;
}

.social-icon:focus{
    fill: $focus;
}

.uk-form-icon{
    width: 140px !important;
}

[class*=uk-inline]{
    display: inherit !important;
}

.face-img{
    width: 80%;
}

.uk-input{
    border-radius: 10px !important;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.uk-input:focus{
    border: none !important;
}

.uk-margin-large-top{
    padding-top: 40px !important;
}

.main-txt{
    margin-top: 120px !important;
    margin-left: 40px !important;
}